In [10]:
camara = 10
print(camara)

10

In [9]:
is_valid =True
print(is_valid)

True

In [4]:
name= "Python Programming"

In [8]:
sum_result = 5+3
print(sum_result)

8

In [7]:
a, b , c = 5, 10,15
print(a,b,c)

5 10 15

In [11]:
x=5
y=6
y=x
print(x,y)

5 5

In [12]:
gravity=9.8
print(gravity)

9.8

In [13]:
country = "Ghana"
print(country)

Ghana

In [15]:
age = 25
age =26
age

26

In [16]:
subtract = 20-7

In [18]:
inte =100
flot = 10.3

In [ ]:
is_completed=False

In [19]:
x=12
y=1300
n=12
x=y
y=n
print(x,y)

1300 12

In [22]:
complex_num = 3+4j
complex_num

(3+4j)

In [29]:
 we= str(23)
we

'23'

In [32]:
first_name = "Silas" 
last_name= "Ayariga"
print(first_name ,last_name)

Silas Ayariga

In [33]:
temperature = 35.5

In [35]:
product = 8 * 6
print(product)

48

In [37]:
sentence = "I am an answer from GOD"
print(sentence)

I am an answer from GOD

In [39]:
int_value = int('50')
int_value

50

In [41]:
quotient = 144/12
print(quotient)

12.0

In [46]:
remainder= 47%5
print(remainder)

2

In [47]:
is_student = True
print(is_student)

True

In [48]:
mod= 45 % 4
print(mod)

1

In [49]:
pi= 3.14159
print(pi)

3.14159

In [51]:
length= 18
width = 20
area_rect = 2*length +2*width
print(area_rect)

76

In [53]:
negative_value = -10000
print(negative_value)

-10000

In [55]:
greeting = "Hello, World!"
print(greeting)

Hello, World!

In [57]:
population= 10000000000
print(population)

10000000000

In [59]:
exp = 2**8
print(exp)

256

In [60]:
fruits = ["apple","pineapple","orange", "banana"]
print(fruits)

['apple', 'pineapple', 'orange', 'banana']

In [65]:
coordinates =(2,3,5)
print(coordinates)

(2, 3, 5)

In [70]:
person = {"name":["silas"],"Age":25}
print(person)

{'name': ['silas'], 'Age': 25}

In [72]:
float1= 23.4
float2 =30.345
sum_float = float1+float2
print(sum_float)

53.745

In [74]:
is_sunny = 10>5
print(is_sunny)

True

In [76]:
intr = 2345
stri = 2345.2
print(intr,stri)

2345 2345.2

In [78]:
orig = 34
booli = bool(orig)
print(booli)

True

In [79]:
is_weekend = False
print(is_weekend)

False

In [92]:
mlt = '''descr 
iption'''

mlt

'descr \niption'

In [94]:
abso = abs(-25)
print(abso)

25

In [95]:
floor_div_result = 10//6

In [96]:
mixed_sum = 10.45+24

In [98]:
a = 10 
b = 15
comp = a>b
print(comp)

False

In [100]:
variable = " I am the God who qsa who is and is to come.Th e name of Jesus is greater than every other name"
len(variable)

95

In [102]:
division_result = 7/3
print(division_result)

2.3333333333333335

In [103]:
speed = "100 km/h"

In [104]:
x = 4 
y = 3*x + 5

In [110]:
var1= 234
var2 = 345
var3 = 63454
average = (var1+var2+var3)/3
print(average)

21344.333333333332